.root {
  width: 70%;
  margin: 15px;
}

.root .head {
  height: 50px;
  text-align: center;
  padding: 0;
}

.root .row {
  height: 80px;
  cursor: pointer;
}

.root .row_active {
  height: 80px;
  cursor: pointer;
  border: 2px solid #42a5f5;
}

.root .row:hover {
  background-color: #eee;
}

.root .date {
  width: 100px;
  padding: 0;
  text-align: center;
}

.root .image {
  width: 200px;
  padding: 0;
  text-align: center;
}

.root .image img {
  width: 50%;
}

.root .title {
  width: 380px;
  padding: 0;
  text-align: center;
}

.root .place_title {
  width: 380px;
  padding: 0;
  text-align: center;
}

.root .place_address {
  padding: 0;
  text-align: center;
}

.root .footer {
  height: 50px;
  padding: 0;
  text-align: center;
}