.root {
  width: 70%;
  margin: 15px;
}

.root .head {
  height: 50px;
  text-align: center;
  padding: 0;
}

.root .row {
  height: 80px;
  cursor: pointer;
}

.root .row_active {
  height: 80px;
  cursor: pointer;
  border: 2px solid #42a5f5;
}

.root .row:hover {
  background-color: #eee;
}

.root .date,
.root .image,
.root .title,
.root .place_title {
  padding: 0;
  text-align: center;
}

.root .date {
  width: 10%
}

.root .image {
  width: 15%;
}

.root .image img {
  width: 55%;
}

.root .title, .root .place_title {
  width: 28%;
}

.root .place_address {
  padding: 0;
  text-align: center;
}

.root .footer {
  height: 50px;
  padding: 0;
  text-align: center;
}